In [1]:
from pandas import read_csv
import numpy as np

In [2]:
df = read_csv('SF0-tickers.csv')

In [3]:
df.head()

,Unnamed: 0,Ticker,Name,Sector,Industry
0,0,A,AGILENT TECHNOLOGIES INC,Healthcare,Medical Laboratories & Research
1,1,AA,ALCOA INC.,Basic Materials,Aluminum
2,2,AAC,"AAC Holdings, Inc.",Healthcare,Specialized Health Services
3,3,AAL,American Airlines Group Inc.,Services,Regional Airlines
4,4,AAN,AARON'S INC,Services,Rental & Leasing Services

In [4]:
inds = list(set(df['Industry']))

In [6]:
inds_used = ['Property & Casualty Insurance',
             'Application Software',
             'Electric Utilities',
             'REIT - Diversified',
             'Asset Management',
             'Aerospace/Defense Products & Services',
             'Business Services',
             'Biotechnology']

In [10]:
np.sum([ind in inds_used for ind in df['Industry']])

367